// 
// ZeroKit
// CommonDevelopment.xcconfig
// 
// Created by Eric Czarny on Thursday, February 25, 2011.
// Copyright (c) 2011 Divisible by Zero.
// 

#include "Common.xcconfig"

DEBUG_INFORMATION_FORMAT = dwarf

ONLY_ACTIVE_ARCH = YES

COPY_PHASE_STRIP = NO

GCC_DYNAMIC_NO_PIC = NO
GCC_ENABLE_FIX_AND_CONTINUE = YES
GCC_OPTIMIZATION_LEVEL = 0

ZERO_LINK = YES
